<% if defined?(@rating) && @rating.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rating.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @rating.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for([@course, @course.ratings.build], :html => {:class => 'ui inverted form'}) do |f| %>
  <div class="four fields">
    <% Rating::RATING_TYPES.each do |type| %>
    
    <div class="field">
      <%= f.label :rating_type, :value=>type , :readonly=>true %>
      <%= f.select(:value, [1, 2, 3, 4, 5]) %>  
    </div>
    
    <% end %>
  </div>

  <div class="field">
    <%= f.submit "Submit", :class => 'ui secondary button' %>
  </div>
<% end %>