<% provide(:title, "Explore Courses") %>

<section class="search-parameters">
  <div class="ui container">
    <h1>Explore Courses</h1>
  
    <%= form_for_filterrific(@filterrific, :html => {:class => 'ui form'}) do |f| %>
      <div class="ui fluid action input">
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed',
          placeholder: 'Enter Course Name or Code'
        ) %>
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, {:class => 'ui compact selection dropdown'}) %>
        <%= link_to('Reset filters', reset_filterrific_url, :class => 'ui button') %>
      </div>
    <% end %>
  </div>
</section>

<section class="search-results">
  <div class="ui container">
    <h2 class="ui header">Search Results</h2>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
    <%= render(
      partial: 'courses/list',
      locals: { courses: @courses }
    ) %>
  </div>
</section>