<% provide(:title, @course.code+": "+@course.title) %>

<div class="pattern-back page-header">
  <div class="ui container">
    <h1 class="page-header__heading"><span class="course-code"><%= @course.code %>:</span> <%= @course.title %></h1>
  </div>
</div>

<div class="ratings">
  <div class="ui center aligned container">
    
    <%= render "ratings/display" %>
    
    <div class="stripe">
      <% if user_signed_in? %>
        <h2> Rate course:</h2>
        <%= render :template => 'ratings/new' %>
      <% else %>
        <%= link_to("Add Rating", new_user_session_path, :class => 'ui basic inverted button') %>
      <% end -%>
    </div>
  </div>
</div>

<section class="course-information">
  <div class="ui grid container">

    <div class="eight wide column">
      <h2>Description</h2>
      <p><%= @course.description %></p>
      <%= link_to 'Edit', edit_course_path(@course) %>
      <%= link_to 'Back', courses_path %>
    </div>

    <div class="right floated left aligned six wide column">
      <h3>Distribution Requirement Status</h3>
      <p></p>
      <h3>Breadth Requirements</h3>
    </div>
    
  </div>
</section>


<section class="comments">
  <div class="ui text container">
    <%= render :template => 'comments/index' %>
  </div>
</section>
